<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#" style="color: white">Score Rank</a>
    <div class="btn-group">
        <button id="refreshBtn" type="button" class="btn btn-success">Refresh</button>
<!--        <button id="createBtn" type="button" class="btn btn-primary">new score</button>-->
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
    
    <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <table class="table" id="Mytable">
                <thead>
                    <tr>
                        <th scope="col">new</th>
                        <th scope="col">
                            <input type="text" class="input-area" placeholder="name" id="new-name">
                        </th>
                        <th scope="col">
                            <input type="text" class="input-area" placeholder="score" id="new-score">
                        </th>
                        <th scope="col">
                            <button class="btn btn-primary" id="createBtn">insert new score</button>
                        </th>
                    </tr>
                    <tr class="item">
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Score</th>
                      <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody id="rank-container">
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">John</th>
                        <th scope="col">99</th>
                        <th scope="col">2019-06-03 15:23:22</th>
                    </tr>
                    <tr>
                        <th scope="col">2</th>
                        <th scope="col">Cathy</th>
                        <th scope="col">93</th>
                        <th scope="col">2019-06-03 15:23:22</th>
                    </tr>
                    <tr>
                        <th scope="col">3</th>
                        <th scope="col">Coyle</th>
                        <th scope="col">86</th>
                        <th scope="col">2019-06-03 15:23:22</th>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
    
</body>
<script>
    var g_itemList = [];
    jQuery(document).ready(function(){
        $("#refreshBtn").click(function(){
            $.ajax({
                type:"GET",
                url:"http://localhost:8090/rank/score",
//                xhrFields:{withCredentials:true},
                
                success:function(data){
                    if(data.status == "success"){
                        g_itemList = data.data;
                        console.log(data);
                        reloadDOM();
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Network fail, server is not opening");
                }
            });
        });
        $("#createBtn").click(function(){
            var new_name = document.getElementById("new-name").value;
            var new_score = document.getElementById("new-score").value;
            console.log(new_name);
            console.log(new_score);
            $.ajax({
                type:"POST",
                url:"http://localhost:8090/rank/createscore",
                data:{
                    "name": new_name,
                    "score": new_score,
                },
                
                success:function(data){
                    if(data.status == "success"){
                        g_itemList = data.data;
                        console.log(data);
                        reloadDOM();
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Network fail, server is not opening");
                }
            });
            document.getElementById("new-name").value = "";
            document.getElementById("new-score").value = "";
        })
    });
    function reloadDOM(){
        var oldItemList = document.getElementById("rank-container");
        // clear the tbody and insert new ones
        while(oldItemList.lastElementChild){
            oldItemList.removeChild(oldItemList.lastElementChild);
        }
        for(var i=0; i<g_itemList.length; i++){
            var itemVO = g_itemList[i];
            var index = i+1;
            var dom = "<tr><th scope='row'>"+index+"</th><td>"+
                itemVO.name+"</td><td>"+itemVO.score+"</td><td>"+
                itemVO.scoreDate+"</td></tr>";
            $("#rank-container").append($(dom));
        }
    }
</script>
</html>